body {
  font-family:'Courier New', Courier, monospace;
  background-image: radial-gradient(wheat, rgb(220, 220, 254));
  text-align: center;
}

h1 {
  background-color:lightpink;
  border: 3px dotted black;
  margin: 75px;
  padding: 20px;
}

h2 {
  background-color:rgb(122, 214, 221);
  margin: 20px;
  padding: 10px;
}

p {
  font-style: italic;
  background-color: honeydew;
  border: 2px dotted black;
  margin: 20px;
  padding: 20px;
}

.form-control-lg {
  text-align: center;
  background-color: honeydew;
}

.box {
  margin: auto;
  height: 20px;
  width: 20px;
}

.black {
  background-color: black;
}

.coral {
  background-color: coral;
}

.teal {
  background-color: teal;
}

.btn-block {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px; 
  background-color: white;
  border: 2px solid thistle;
  width: 200px;
}
 
#Ruby {
  display: none;
}

#Python {
  display: none;
}

#CSharp {
  display: none;
}

#Javascript {
  display: none;
}

