body {
  font-family:'Courier New', Courier, monospace;
  background-image: radial-gradient(wheat, rgb(220, 220, 254));
  text-align: center;
}

h1 {
  background-color:lightpink;
  border: 3px dotted black;
  margin: 75px;
  padding: 20px;
}

h2 {
  background-color:rgb(122, 214, 221);
  margin: 20px;
  padding: 10px;
}

p {
  font-style: italic;
  background-color: honeydew;
  border: 2px dotted black;
  margin: 20px;
  padding: 20px;
}

.form-control-lg {
  text-align: center;
  background-color: honeydew;
}

.box {
  margin: auto;
  height: 20px;
  width: 20px;
}

.black {
  background-color: black;
}

.coral {
  background-color: coral;
}

.teal {
  background-color: teal;
}

.btn-block {
  background-image: linear-gradient(white, rgb(122, 214, 221));
  font-size: 125%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px; 
  width: 400px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
  animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.btn-block:hover {
  animation: none;
}


 
  